body,
html {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

#visualContainer {
    display: inline-block;
    margin: 200px auto;
    border: solid 3px black;
    position: relative;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    background-image: url('../guide-01.png');
    background-size: 100% 100%;
}

.module {
    color: white;
    position: absolute;
    border: solid 1px white;
    background-color: rgba(.3, .3, .3, .5);
    box-sizing: border-box;
}

#eventContainer {
    position: absolute;
    top: 20px;
    border: solid 2px red;
    margin: auto;
    left: 0;
    right: 0;
}

.ghost {
    background-color: rgba(255, 0, 0, 0.4);
}