body,
html {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    background: black;
    color: white;
    overflow: hidden;
}

#visualContainer {
    margin: 10vh auto;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.devMode #visualContainer {
    overflow: visible !important;
    border: solid 3px white;
}

.devMode #visualContainer::after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/guide-01.png');
    background-size: 100% 100%;
    display: inline-block;
    content: '';
    z-index: 2;
}

.module {
    position: absolute;
    box-sizing: border-box;
}

.module:after {
    font-family: 'Major Mono Display', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.devMode .module {
    border: dashed 1px white;
}

.devMode .module.ghost {
    border: solid 1px rgb(255, 0, 0, 0.4);
}